
* { 
  font-family: Roboto, sans-serif;  
	overflow: hidden;
}

html, body {
  margin: 0;
  height: 100%;
}

#particles_background {
  height: 100%;
  width: 100%;
  background-color: #322f30;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

#tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
}

.tooltip_key {
  font-weight: bold;
}

.tooltip_value {
  margin-left: 20px;
  float: right;
}

.fuckFuck {
  border: 5px dotted magenta;
  position: absolute;
  top: 25%;
  left: 25%;
} 

/*#map_container {

$("svg").css({top: '25%', left: '25%', position:'absolute', border: '5px dotted magenta'});
}*/

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  /*border: 1px dotted grey;*/
}


.tip_header {
    display: flex;
    justify-content: space-between;
}

.box .row.header {
  /*border: 3px solid red;*/
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  width: 100%;
  height: 20%;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box .row.content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  overflow: scroll;
  background: white;
}

.box .row.footer {
	/* border: 5px dashed green;*/
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: fit-content;

  background: black;
  
  height: fit-content;

  padding-top: 4px;
  padding-bottom: 4px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title {
  /* border: 1px solid yellow;*/
  margin-top: 25px;
	position: fixed;
}

.footer_member {
  /* border: 1px solid yellow;*/
  width: fit-content;
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_box {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 2px;
  margin-left: 2px;
}

.footer_box a {
  color: #fff;
  text-decoration: none;
}

.footer_img {
  height: 35px;
  padding:5px;
  background-color: #322f30;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) { 
  .title {
    /*border: 1px solid yellow;*/
    max-height: 12%;
    top: 0px;
  }

  .footer_box {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 2px;
    margin-left: 2px;
  }

  .footer_member {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .box .row.footer {
    padding-bottom: 0px;
  }
}




